*{
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
  }
/* utility classes */
.container{
    /* max-width: 2000px; */
    min-width: 220px;
    /* margin: auto; */
    display: flex;
    height: 100vh;
    width: 100vw;
}

.btn{
    display: inline;
    text-decoration: none;
    color: black;
    background: #A9DDDD;
    margin: 1em 1.75em;
    padding: .35em 1.35em;
    font-size: 1.75rem;
    border-radius: 15%;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    width: 100%;

}



.picture{
    flex: 1;
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
    padding: 2rem 1rem ;
/*     margin-top: 4em; */
    background-size:contain;
    background-position: bottom right;
}

.vector1{
    position: fixed;
    right: -10%; 
    /* height: 47%; */
    /* width: 27%; */
    /* position: relative; */
    top: 5%;
    
    z-index: 1;
}


.vector2{
    position: fixed;
    right: -24%;
    /* background: url('/images/Vector\ 7.jpg'); */
    /* background-color: #000000; */
    top: -30%;
    /* height: 47%; */
    /* width: 27%; */
    z-index: 2;
    opacity: 0.6;
}


.vector3{
    position: fixed;
    /* right: 4%;  */
    /* height: 47%; */
    /* width: 27%;  */
    /* z-index: 2; */
}

.picture img{
    background-color: transparent;
}

.text-primary{
    color:#bda609;
}

.text{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:space-around ;
    padding: 1rem 0 0em;
    font-size: 2.25rem;
    font-family: Helvetica, sans-serif;
    
}

.text .buttons .btn{
    display: inline;
    padding: 0.4rem 02rem;
    font-size: .75em;
    margin-left: 4rem;
}

button{
    border: none;
}

.button{
    position: relative;
    flex: 1;
    margin: 1em;
}

.data{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: 50px 70px 30px;

}

.data input{
    margin-top: 1em;
    border: none;
    border-bottom:1px solid #AFAAAA;
    font-size: 1.25rem;
}

.form-data{
    flex: 2;
}

.buttons{
    flex: 1;
    margin: 1em;
}

/* first page */


.heading{
    /* font-size: .85em; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}

.heading h1{
    text-align: center;
    font-style: italic;
    font-weight: 810;
    width: 90%;
    font-size: 3.5rem;
    margin:0 0 .62em .7em;
}

@media (max-width:1030px ){
    .heading {
        font-size: .7rem;
    }
    .text{
        font-size: 2rem;
        width: 50%;
    }
    .input{
        font-size: 1.25rem;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        padding: 0rem;
        margin: 0px;
        align-items: baseline;
        
    }
    img{
        width: 80%;
    }
    .button .btn{
        margin: 0em 0.9em;
        padding: 0.15em 1.35em;;
    }
}

@media (max-width:800px) {
    .text{
        position: relative;
        top: 0%;
        font-size: 2rem;
        height: 100%;
    }
    .heading{
        font-size: .8rem;
    }
    .picture{
        height: 65%;
        width: 50%;
        display:flex;
        align-items:flex-end;
        justify-content:flex-end;
    }
    .picture img{
        width: 90%;
    }
    .buttons .btn{
        margin: 0px;
    }
    .button .btn{
        margin-left: 1rem  ;
        padding: 0.15em 0.95em;
    }

    .submit{
        position: relative;
        left: 10rem;
        bottom: 2.26rem;
    }

    .form-data{
        margin-top: 3rem;
    }
}

@media (max-width:650px){
    #page-2 .container,#page-3 .container,#page-4 .container{
        position: relative;
        top: 8rem;
    }
    .heading h1{
        font-size: 2rem;
    }
    .text{
        font-size: 1rem;
        width: 60% !important;
        height: 70%;
    }
    .data input{
        font-size: .3rem;
    }
    .btn{
        font-size: 1rem;
    }
    .picture{
        height: 55%;
        width: 50%;
    }
    #page-2 .container .picture ,#page-3 .container .picture,#page-4 .container .picture{
        height: 35%;
    }

    .text .form-data{
        height: 0 !important;
    }
    .buttons .btn{
        margin-top: 0 !important;
        padding-top: .6rem !important;
        margin-left: 4rem;
        position: relative;
        top: 4rem;
        left: 2rem;
    }
    .button .btn{
        margin: 03em  ;
        padding: 0.35em 1.55em;

    }

    .prev{
        position: relative;
        top:6rem;
        left: 1.5rem;
    }
    .submit{
        position: relative;
        top: 4.75rem;
        left: 10rem;
    }

    .data{
        margin: 2rem 2rem 2rem 2rem;
    }
}
@media (max-width:390px){
    #page-2 .container,#page-3 .container,#page-4 .container{
        position: relative;
        top: 8rem;
    }
    .heading h1{
        font-size: 2rem;
    }
    .text{
        font-size: 1rem;
        width: 60% !important;
        height: 65%;
    }
    .data input{
        font-size: .3rem;
    }
    .btn{
        font-size: 1rem;
    }
    .picture{
        height: 55%;
        width: 50%;
    }
    #page-2 .container .picture ,#page-3 .container .picture,#page-4 .container .picture{
        height: 35%;
    }

    .text .form-data{
        height: 0 !important;
    }
    .buttons .btn{
        margin-top: 0 !important;
        padding-top: .4rem !important;
        margin-left: 4rem;
        position: relative;
        top: 4rem;
        left: 0.25rem;
    }
    .button{
        position: relative;
        left: -1rem;
    }
    
}
